# Описание фунциональных требований к проекту

---

## Функциональность

Всех пользователей можно разделить на две основные категории:

1. Гости
2. Зарегистрированные пользователи

Для гостей доступен просмотр такой информации, как:

1. Типы страхования
2. Адреса филиалов компании
3. Агенты каждого филиала

Гость может зарегистрироваться или войти в систему, если у него уже есть учетная запись. 

Зарегистрированный пользователь может являться администратором, сотрудником (страховым агентом), страхователем.

Администратор может:

1. Управление сотрудниками (добавление новых страховых агентов, удаление сотрудников, распределение страхователей по страховым агентам взависимости от нужд страхователя)
2. Управление доходами страховых агентов
3. Просмотр всех существующих договоров
4. Добавление, изменение и удаление статей о типах страхования

Страховой агент может:

1. Принятие заявки на страхование из журнала с заявками пользователей взависимости от нужд клиента
2. Составление договора с клиентом
3. Просмотр своих существующих договоров

Клиент может:

1. Оставить заявку на страхование в журнале
2. Просмотр своих существующих договоров
3. Просмотр информации о возможностях страховой компании
4. Оставить отзыв

